
.planitem {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #FAFAFA;
    padding: 2rem;
    width: 20rem;
    height: 40rem;
    border-radius: 24px;
    position: relative;
    align-items: center;
}

.selected {
    background: greenyellow;
}

.planitem header {
    padding-bottom: 1rem;
    border-bottom: .1rem solid lightgray;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    text-align: start;
    gap: 0;
}

.selected header {
    border-bottom-color: gray !important;
}

.planitem header h2 {
    font-size: 2rem;
    font-weight: 600;
}

.planitem .pricing {
    display: flex;
    color: black;
    align-items: end;
    justify-content: start;
    width: 100%;
}

.planitem .pricing h1 {
    color: black;
    height: fit-content;
    padding: 0;
    margin: 0;

}

.planitem .pricing p {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.planitem .plan-features {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 1.5rem;
    flex-direction: column;
}

.planitem button {
    background: greenyellow;
    width: 20rem;
    border: none;
    border-radius: 24px;
    position: absolute;
    bottom: 1rem;
    padding: 1rem 0;
    font-weight: 700;
    font-size: 1.2rem;
}

.selected button {
    background: black !important;
    color: white !important;
}