
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 90%;
}

.footer .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer .footer-nav a {
    text-decoration: none;
    color: black;
}